@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
@import url(../fonts/Anurati-Regular.otf);

/*COLORS
	Dark Gray:     #393939;
	Dark Orange:   #FF5A09;
	Flat Orange:   #F3843E;
	Yellow Orange: #FF9900;
	Medium Gray:   #6E6E6E;
    Red:           #fb2d2d;
*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}

body{
	font-family: 'raleway',arial,helvetica;
	color: #333;
	color: rgba(54, 54, 54, 0.9);
	font-size: 16px;
}

a
{
	text-decoration: none;
	color: #FFF;
}

a:visited, a:active, a:focus
{
	outline: none;
	border: none;
}

strong
{
    color: #f2b632;
}

.section{
	text-align:center;
}

p{
	font-size: 2em;
}

h1
{
	
}

h2, h3, h4, h5, h6
{
	font-weight: normal;
}

/*------------------------------------------------
      BEGINNING OF STYLING FOR WEBSITE LOADER 
------------------------------------------------*/

html
{
    overflow: hidden;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader-wrapper img
{
	z-index: 1005;
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	margin: auto;
	width: 100px;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 300px;
    margin: -150px 0 0 -150px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fb2d2d;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #BDBDBD;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #fb2d2d;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #222222;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }
    
    /* JavaScript Turned Off */
    .no-js #loader-wrapper {
        display: none;
    }
    .no-js h1 {
        color: #222222;
    }

/*------------------------------------------------
       END OF STYLING FOR WEBSITE LOADER
------------------------------------------------*/

/*------------------------------------------------
   BEGINNING OF STYLING FOR PARRALAX BACKGROUND 
------------------------------------------------*/

#overlay {
    background-color: #000;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    opacity: 0.08;
	display: none;
}

#scene {
    padding: 0;
    margin: 0;
	position: fixed;
    width: 115%;
    height: 120vh;
    overflow: hidden;
    top: -5%;
    left: -5%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

main {
    width: 100%;
    height: 100vh;
    overflow: hidden;  
	margin-top: -70px;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 101;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    text-align: center;
}

.layer {
    width: 110%;
    height: 120vh;
    overflow: hidden;
}

.layer2 {
    background-image: url(../img/sky_front_blue.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: -5%;
    top: -5%;
}

.layer1 {
    background-image: url(../img/sky_back_bluemin.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    left: -5%;
    top: -5%;
}

@media (max-width:700px) {
    
    
    
}

/*------------------------------------------------
	 END OF STYLING FOR PARRALAX BACKGROUND 
------------------------------------------------*/



.section h1
{
	font-size: 6em;
}
/* Backgrounds will cover all the section
* --------------------------------------- */
#section0,
#section1,
#section2,
#section3{
    background-size: cover;
    background-attachment: fixed;
}

#logo
{
    width: 45px;
    padding-top: 15px;
	border: none;
	text-align: left;
    padding-left: 15px;
}

#logo:visited
{
	border: none;
}

header h1 a
{
    text-align: left;
    top: 0px;
    position: absolute;
    z-index: 15;
}

#section0 h1, #section1 h1
{
	margin-top: -60px;
}

/* Defining each section background and styles
* --------------------------------------- */
#section0{
    background: url('../img/skyline_darkSmin.jpg');
    background-size: cover;
    background-attachment: fixed;
}

#section0 h1
{
    color: #EEEEEE;
    font-family: 'anurati','raleway', Arial, sans-serif;
    display: inline-block;
    margin: auto;
    position: relative;
    //display: none;
    margin-bottom: -10px;
}

#section0 #header
{
    border: thick solid #EEEEEE;
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 2;
    transform: translate(-52%, -50%);
    padding-left: 2%;
    padding-right: 1.2%;
    padding-top: 0.5%;
    padding-bottom: 1%;
    opacity: 0;
    margin-top: 2%;
}

#section0 #header p
{
	color: #F2B632;
    position: relative;
    z-index: 1;
	text-transform: uppercase;
    letter-spacing: .35em;
}

#section0 i
{
	font-size: 50px;
	color: rgba(255,255,255,0.85);
	transition: all .5s;
	position: absolute;
    z-index: 10;
    bottom: 5%;
	left: 0;
    right: 0;
	cursor: pointer;
	opacity: 0;
    margin-bottom: -60px;
}

#section0 i:hover
{
	color: #EE6C4D;
}

/*#section2{
    background-image: url(../examples/imgs/bg3.jpg);
}
#section3{
    background-image: url(../examples/imgs/bg4.jpg);
}*/

#languages
{
    background: #424242;
    margin-top: 10%;
    width: 100%;
    height: 50%;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    padding: 0;
}

svg
{
    width: 20%;
    max-width: 200px;
    min-width: 100px;
}

.triangle {
  border-bottom: 15px solid #424242;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  width: 0;
  height: 0;
}

.popup {
  background-color: #424242;
  position: relative;
  margin: auto;
}

.popup::after {
  border-bottom: 15px solid #E0E0E0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  width: 0;
  height: 0;
  margin: auto;
  content: "";
  display: block;
  position: absolute;
  bottom: 100%;
  left: 49.2%;
}

.langGroup
{
    width: 49.5%;
    display: inline-block;
    height: 25%;
	opacity: 1;
    background: rgba(255,255,255,0.2);
	transition: all .5s ease-in;
}

.langGroup2
{
    width: 49.5%;
    display: inline-block;
    height: 25%;
	opacity: 0;
    background: red;
	transition: all .5s ease-in;
}

#languages:hover .langGroup2
{
	opacity: 1;
}

.center
{
    position: absolute;
    display: inline-block;
    margin: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
	transform: translateX(-50%);
    right: 30px;
    bottom: 30px;
    z-index: 20;
    display: none;
}

.centerUp
{
    display: inline-block;
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    -ms-transform: rotate(180deg); /* IE 9 */
    transform: rotate(180deg);
    top: 100px;
    right: 28px;
    position: absolute;
    margin: auto;
    z-index: 20;
    display: none;
}

.unu
{
  margin-top: 2px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 2s infinite;
    -moz-animation: mouse-scroll 2s infinite;
	margin-left: auto;
	margin-right: auto;
}

.unu
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
}

.doi
{
  -webkit-animation-delay: .4s;
  -moz-animation-delay: .4s;
  -webkit-animation-direction: alternate;
}

.trei
{
  -webkit-animation-delay: .6s;
  -moz-animation-delay: .6s;
  -webkit-animation-direction: alternate;
}

.mouse
{
  height: 40px;
  width: 20px;
  border-radius: 10px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border: 2px solid #FFF;
  top: 170px;
  margin: auto;
}

.wheel
{
  height: 10px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: #FFF;
  position: relative;
}

/*.wheel
{
  -webkit-animation: mouse-wheel 1.2s ease infinite;
  -moz-animation: mouse-wheel 1.2s ease infinite;
}
*/

@-webkit-keyframes mouse-wheel
{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-moz-keyframes mouse-wheel
{
  0% { top: 1px; }
  50% { top: 2px; }
  100% { top: 3px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

/* CSS for Section 1, Page 2, WORK */

#section1
{
	white-space: nowrap;
    background: url('../img/skyDark.jpg');
    background-size: cover;
    background-attachment: fixed;
    height:
}

#section1 p
{
    -webkit-transform: skewX(15deg);
	-ms-transform: skewX(15deg);
	transform: skewX(15deg);
    padding-left: 235px;
    color: rgb(189, 189, 189);
    font-size: 1.7em;
    text-align: center;
    opacity: 0;
   // margin-top: 30px;
}

#section1 h1
{
    color: #757575;
    border: thick solid #757575;
   // top: 54%;
    //color: #fb2d2d;
	//color: #EEEEEE;
    display: inline-block;
	opacity: 0;
    margin: auto;
    margin-bottom: 2%;
	padding-left: 3%;
	padding-right: 3%;
    //position: absolute;
    //z-index: 2;
    //top: 50%;
    //left: 50%;
    //transform: translate(-50%, -50%);
	//-ms-transform: translate(-50%, -50%);
	//-webkit-transform: translate(-50%, -50%);
    margin-top: 110px;
    margin-left: 150px;
    transform: skewX(15deg);
	-ms-transform: skewX(15deg);
	-webkit-transform: skewX(15deg);
}

#section1 .row
{
	margin-bottom: -5px;
}

#section1 .lefty
{
	background: #3d5A80;
	float: left;
    position: absolute;
	z-index: 1;
	width: 60%;
    height: 100%;
	padding: 15px;
	background: rgba(255,255,255,0.95);
    background: #424242;
	box-sizing: border-box;
    transform: skewX(-15deg);
	-ms-transform: skewX(-15deg);
	-webkit-transform: skewX(-15deg);
    margin-left: -20%;
	//background: url('../img/skyDark.jpg');
    //background-size: cover;
    //background-attachment: fixed;
	//background-position: top left;
}

#section1 .righty
{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	display: table;
    float: right;
}

#section1 .righty a img
{
    width: 17%;
    display: inline-block;
    //float: right;
    border: none;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transition: all 1s;
	opacity: 0.5;
}

#section1 .righty a img:hover
{
	opacity: 1;
	filter: none;
	-webkit-filter: none;
}

#section1 .righty a
{
	margin: -1.4px;
}

#section1 .slider
{
    width: 60%;
    overflow: hidden;
    display: inline-block;
    transform: skewX(-20deg);
	-ms-transform: skewX(-20deg);
	-webkit-transform: skewX(-20deg);
    transition: width 1.2s ease-in-out;
    margin-left: -76px;
    pointer-events: none;
}

.overlay
{
	width: 100%;
	height: 100%;
	position: relative;
	background: white;
}

.box
{
	width: 18%;
	display: inline-block;
	margin-left: -1.4px;
	margin-right: -1.4px;
	background: #424242;
}

.fade
{
    height: 250px;
    width: 250px;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    transition: all 1s;
    display: none;
}

.fade:hover
{
    background: rgba(0, 0, 0, 0.1);
}

.light
{
	background: rgba(0,0,0,0.2);
}

.box img
{
    width: 100%;
    height: 100%;
}

/* CSS for Section 2, Page 3, SKILLS */

#section2 h1
{
    border: thick solid #424242;
	color: #424242;
    display: inline-block;
	text-align: center;
    margin: auto;
	padding-left: 3%;
	padding-right: 3%;
	overflow: hidden;
    margin-top: 60px;
    opacity: 0;
}

#section2 #mobileDesign
{
    background: #293241;
    width: 100%;
    height: 50%;
    margin-top: -200px;
    padding-top: 200px;
}

#section2 #mobileCode
{
    
}

#section2 #mobileCode img, #section2 #mobileDesign img
{
    width: 150px;
}

#section2 #mobileCode h2, #section2 #mobileDesign h2
{
    font-size: 3em;
    font-weight: 700;
    color: #98C1D9;
    text-transform: uppercase;
}

#section2 #mobileCode h2
{
    color: #293241;
}

#section2 #mobileCode h4, #section2 #mobileDesign h4
{
    color: #E0FBFC;
    text-transform: none;
    font-size: 1.5em;
}

#section2 #mobileCode h4
{
    color: #3D5A80;
}

#section2 #topSkills
{
	position: absolute;
	height: 50%;
	width: 100%;
	top: 0px;
	overflow: hidden;
}

#section2 #topSkills #heading
{
	position: relative;
	top: 55%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	width: 100%;
	padding-top: 60px;
	overflow: hidden;	
}

#section2 p
{
    color: #BDBDBD;
	overflow: hidden;
}

#section2 #bottomSkills
{
	position: absolute;
	height: 45%;
	bottom: 0px;
	width: 100%;
	background: #757575;
    overflow: hidden;
    border-top: thick solid #E0E0E0;
}

#left, #right
{
	height: 100%;
	display: inline-block;
	width: 50%;
    position: absolute;
    z-index: 0;
    font-size: 24px;
    transition: all .5s ease-in-out;
	overflow: hidden;
}

#section2 #bottomSkills
{
	color: #FFF;
}

#leftInfo, #rightInfo
{
	width: 100%;
	height: 100%;
	opacity: 0;
    background: rgba(255,255,255,0.9);
	transition: all .5s;
	overflow: hidden;
}

#leftInfo h4, #rightInfo h4
{
    font-size: 1.5em;
    color: #424242;
    font-weight: bold;
}

#left
{
	left: 0px;
	background: url(../img/codeDeskC3.jpg) no-repeat center; 
}

#right
{
	right: 0px;
    background: url(../img/designDeskC3.jpg) no-repeat center;
}

#left, #right
{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	transition: all 1s;
    backface-visibility: hidden;
}

#left:hover, #right:hover
{
	overflow: hidden;
	-webkit-animation: animatedBackground .1s ease 1;
	-moz-animation: animatedBackground .1s ease 1;
	animation: animatedBackground .1s ease 1;
	-webkit-animation-fill-mode: inherit;
    animation-fill-mode: inherit;
        
}

#leftInfo:hover, #rightInfo:hover
{
	opacity: 1;
	display: inline-block;
	overflow: hidden;
}

#rightContainer, #leftContainer
{
	color: #212121;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	width: 100%;
}

#rightContainer ul, #leftContainer ul
{
	display: inline-block;
}

#rightContainer img, #leftContainer img
{
	width: 100px;
	margin: 0;
	text-align: center;
}

#rightContainer h4, #leftContainer h4
{
	margin-top: -15px;
    margin-top: -10px;
}

 .bar
{
	width: 60%;
	background: #BDBDBD;
	height: 4px;
	transition: all 1s;
    margin: auto;
	margin-bottom: 10px;
}

.bar .php,
.bar .sql,
.bar .java,
.bar .c,
.bar .html,
.bar .js,
.bar .dream,
.bar .boot
{
    height: 100%;
    width: 1%;
    background: #FB2D2D;
	transition: all 2.5s;
}

#section3
{
	//background: transparent url("../img/meJump_bmin.jpg") repeat scroll center top / cover;
}

#section3 img
{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

#section3 .leftside
{
	background: #3d5A80;
	float: left;
	width: 50%;
    height: 100%;
	padding: 15px;
	background: rgba(61,90,128,0.7);
	box-sizing: border-box;
	display: table;
}

#section3 .rightside
{
	width: 50%;
	height: 100%;
	box-sizing: border-box;
	display: table;
    opacity: 1;
}

#section3 #info
{
	display: table-cell;
	vertical-align: middle;
    margin-top: -60px;
    opacity: 1;
}

#infoL, #infoR
{
    position: absolute;
    z-index: -1;
    left: 0;
    font-size: 1.3em;
    padding: 10px;
}

#infoR
{
    right: 0;
    left: auto;
}

#section3 .rightside h2
{
	padding-bottom: 20px;
    color: #EE6C4D;
}

#section3 h2
{
	font-size: 2em;
	text-transform: none;
	color: #98C1D9;
	font-weight: 900;
	display: block;
	margin-top: 200px;
}

#section3 h4
{
	font-size: 1.3em;
}

#section3 p
{
	font-size: 1.2em;
	color: #EEEEEE;
	text-transform: none;
	font-weight: 300;
	padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
	text-indent: 40px;
	text-align: left;
}

#section3 i
{
	color: #98C1D9;
}

#section3 h5
{
	font-size: 1.3em;
	font-weight: 500;
	color: #98C1D9;
    padding-left: 35px;
    padding-top: 5px;
    text-align: left;
}

#section3 a
{
	color: #98C1D9;
	text-transform: none;
}

#section3 footer p
{
	text-align: center;
	padding-top: 10px;
	font-weight: 700;
    padding-right: 100px;
    padding-left: 0px;
    color: #98C1D9;
}

#section3 footer
{
	height: 50px;
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #212121;
}

#section3 footer i
{
    float: left;
    font-size: 25px;
    padding-left: 10px;
    padding-top: 12.5px;
}

@media screen and (max-width: 1000px)
{
    #section1 h1
    {
        margin-left: 100px;
    }
    
    #section1 p
    {
        padding-left: 35%;
        text-align: left;
    }
}

@media screen and (min-width: 850px)
{
    #section2 #mobileDesign, #section2 #mobileCode
    {
        display: none;
        transition: all 1s;
    }
}

@media screen and (max-width: 850px)
{
    #section1 .lefty
    {
        width: 100%;
        transform: none;
		-ms-transform: none;
		-webkit-transform: none;
        margin-left: 0px;
        height: 50%;
        padding-top: 0px;
        height: auto;
        background: none;
        position: static;
    }
    
    #section1 .righty
    {
        height: auto;
        padding-top: 50px;
    }
    
    #section1 h1, #section1 p
    {
        transform: none;
		-ms-transform: none;
		-webkit-transform: none;
        text-align: center;
    }
    
    #section1 h1
    {
        margin-left: 0px;
    }
    
    #section1 p
    {
        padding-left: 0px;
    }
    
    #section1 .righty
    {
        width: 100%;
        overflow: hidden;
    }
    
    #section1 .righty a img
    {
        width: 33.33%;
        filter: none;
        -webkit-filter: none;
        opacity: 0.8;
    }
    
    #section2 #mobileCode .bar
    {
        background: #757575;
    }
    
    #section2 #topSkills, #section2 #bottomSkills
    {
        display: none;
        transition: all 1s;
    }
    
    #section3 .rightside
    {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 100px;
        height: auto;
    }
    
    #section3 .leftside
    {
        width: 100%;
        padding-top: 80px;
        padding-bottom: 50px;
        height: auto;
        float: none;
    }
    
    #section2 #mobileDesign, #section2 #mobileCode
    {
        padding-top: 70px;
        padding-bottom: 70px;
        height: auto;
    }
    
    #section2 #mobileDesign
    {
        margin-top: 0px;
        height: auto;
    }
}

@media screen and (min-width: 1800px)
{
    #section0 #header
    {
        transform: translate(-60%, -50%);
    }
}

@media screen and (max-width: 1800px)
{
    #section0 #header
    {
        transform: translate(-58%, -50%);
    }
}

@media screen and (max-width: 1550px)
{
    #section0 #header
    {
        transform: translate(-57%, -50%);
    }
}

@media screen and (max-width: 1300px)
{
    #section0 #header
    {
        transform: translate(-56%, -50%);
    }
}

@media screen and (max-width: 1000px)
{
    #section0 #header
    {
        transform: translate(-53%, -50%);
    }


@media screen and (max-width: 600px)
{
    #section0 #header
    {
        transform: translate(-52.5%, -50%);
    }
}

@media screen and (max-width: 450px)
{
    body
    {
        font-size: 13px;
    }
    
}

@media screen and (max-width: 375px)
{
    body
    {
        font-size: 11px;
    }
    
    #section0 p
    {
        margin-top: 0px;
    }
    
}













