/*COLORS
	Dark Gray:     #393939;
	Dark Orange:   #FF5A09;
	Flat Orange:   #F3843E;
	Yellow Orange: #FF9900;
	Medium Gray:   #6E6E6E;
    Red:           #fb2d2d;
*/

#loader
{
	display: none;
}

#section0 h1
{
    padding-top: 2%;
}

#section2 #topSkills #heading
{
	top: 45%;
	padding-top: 0px;
}

#leftContainer, #rightContainer
{
	position: relative;
	vertical-align: middle;
	height: 100%;
	padding-top: 5%;
}

















