<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway:400,500,800'>


@font-face {
font-family: Anurati;
src: url("../fonts/Anurati-Regular.otf") format("opentype");
}

/*----------------------------------------------
             STYLING FOR NAV MENU
----------------------------------------------*/

.menu-toggle {
  width: 40px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 25px;
  cursor: pointer;
  z-index: 100;
}
.menu-toggle.on .one {
  -moz-transform: rotate(45deg) translate(7px, 7px);
  -ms-transform: rotate(45deg) translate(7px, 7px);
  -webkit-transform: rotate(45deg) translate(7px, 7px);
  transform: rotate(45deg) translate(7px, 7px);
}
.menu-toggle.on .two {
  opacity: 0;
}
.menu-toggle.on .three {
  -moz-transform: rotate(-45deg) translate(8px, -10px);
  -ms-transform: rotate(-45deg) translate(8px, -10px);
  -webkit-transform: rotate(-45deg) translate(8px, -10px);
  transform: rotate(-45deg) translate(8px, -10px);
}

.one,
.two,
.three {
  width: 100%;
  height: 5px;
  background: white;
  margin: 6px auto;
  backface-visibility: hidden;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

nav {

    box-sizing: border-box;
	position: fixed;
	width: 100%;
    height: 100%;
    background: rgba(66, 66, 66, 0.9);
    //background: url('../img/planeView_dark.jpg');
    //background-size: cover;
    //background-attachment: fixed;
	display: none;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  height: 100%;
}

nav li
{
    height: 25%;
}

nav ul a {
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  font-size: 2em;
  line-height: 1.5;
  width: 100%;
  display: block;
}

nav li a {
	display: block;
	text-align: center;
	height: 100%;
	-webkit-transition: background .3s;
	        transition: background .3s;
}

nav li a h4
{
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	top: 50%;
	position: relative;
    font-weight: 900;
}

nav li:nth-child(odd) a {
	background: rgba(110,110,110, .1);;
}

nav li:nth-child(even) a {
	background: rgba(110,110,110,0.05);
}

nav li:nth-child(odd) a:hover {
	background: rgba(110,110,110,.2);
}

nav li:nth-child(even) a:hover {
	background: rgba(110,110,110,0.2);
}

.header-top {
	height: 0px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 12;
	box-sizing: border-box;
}

.menu-section.on {
  z-index: 15;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  padding-left: 0;
}

@media screen and (max-width: 600px) {
	.menu-toggle
	{
		top: 15px;
		right: 20px;
		width: 30px;
	}
	
	.one, .two, .three
	{
		height: 3px;
	}
	
	.menu-toggle.on .one {
	  -moz-transform: rotate(45deg) translate(5px, 5px);
	  -ms-transform: rotate(45deg) translate(5px, 5px);
	  -webkit-transform: rotate(45deg) translate(5px, 5px);
	  transform: rotate(45deg) translate(5px, 5px);
	}

	.menu-toggle.on .three {
	  -moz-transform: rotate(-45deg) translate(7px, -8.5px);
	  -ms-transform: rotate(-45deg) translate(7px, -8.5px);
	  -webkit-transform: rotate(-45deg) translate(7px, -8.5px);
	  transform: rotate(-45deg) translate(7px, -8.5px);
	}
	
	#logo
       {
        width: 45px;
        padding-top: 10px;
        padding-left: 10px;
    }
}

@media screen and (max-width: 400px) {

    .menu-toggle
    {
        top: 10px;
		right: 10px;
    }
    
    #logo
    {
        width: 40px;
    }

}

/*---------------------------------------------
            END OF NAV MENU STYLE
---------------------------------------------*/
/*COLORS
	Dark Gray:     #393939;
	Dark Orange:   #FF5A09;
	Flat Orange:   #F3843E;
	Yellow Orange: #FF9900;
	Medium Gray:   #6E6E6E;
    Red:           #fb2d2d;
*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}

body{
	font-family: 'raleway',arial,helvetica;
	color: #333;
	color: rgba(54, 54, 54, 0.9);
	font-size: 16px;
}

a
{
	text-decoration: none;
	color: #FFF;
}

a:visited, a:active, a:focus
{
	outline: none;
	border: none;
}

strong
{
    color: #f2b632;
}

.section{
	text-align:center;
}

p{
	font-size: 2em;
}

h1
{
	
}

h2, h3, h4, h5, h6
{
	font-weight: normal;
}



/*------------------------------------------------
   BEGINNING OF STYLING FOR PARRALAX BACKGROUND 
------------------------------------------------*/

#overlay {
    background-color: #000;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    opacity: 0.08;
	display: none;
}

#scene {
    padding: 0;
    margin: 0;
	position: fixed;
    width: 115%;
    height: 120vh;
    overflow: hidden;
    top: -5%;
    left: -5%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

main {
    width: 100%;
    height: 100vh;
    overflow: hidden;  
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 101;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    text-align: center;
}

.layer {
    width: 110%;
    height: 120vh;
    overflow: hidden;
}

.layer2 {
    background-image: url(../img/sky_front_blue.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: -5%;
    top: -5%;
}

.layer1 {
    background-image: url(../img/sky_back_bluemin.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    left: -5%;
    top: -5%;
}

@media (max-width:700px) {
    
    
    
}

/*------------------------------------------------
	 END OF STYLING FOR PARRALAX BACKGROUND 
------------------------------------------------*/



.section h1
{
	font-size: 6em;
}
/* Backgrounds will cover all the section
* --------------------------------------- */
#section0,
#section1,
#section2,
#section3{
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

#logo
{
    width: 45px;
    padding-top: 15px;
	border: none;
	text-align: left;
    padding-left: 15px;
}

#logo:visited
{
	border: none;
}

header h1 a
{
    text-align: left;
    top: 0px;
    position: absolute;
    z-index: 15;
}

#section0 h1, #section1 h1
{
	margin-top: -60px;
}

/* Defining each section background and styles
* --------------------------------------- */
#section0{
    background: url('../img/skyline_darkSmin.jpg');
    background-size: cover;
    background-attachment: fixed;
}

#section0 h1
{
    color: #EEEEEE;
    font-family: 'anurati','raleway', Arial, sans-serif;
    display: inline-block;
    margin: auto;
    position: relative;
    //display: none;
    margin-bottom: -10px;
}

#header
{
    border: thick solid #EEEEEE;
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 2;
    transform: translate(-52%, -50%);
    padding-left: 2%;
    padding-right: 1.2%;
    padding-top: 0.5%;
    padding-bottom: 1%;
    opacity: 0;
    margin-top: 2%;
}

#section0 #header p
{
	color: #F2B632;
    position: relative;
    z-index: 1;
	text-transform: uppercase;
    letter-spacing: .35em;
}

#section0 i
{
	font-size: 50px;
	color: rgba(255,255,255,0.85);
	transition: all .5s;
	position: absolute;
    z-index: 10;
    bottom: 5%;
	left: 0;
    right: 0;
	cursor: pointer;
	opacity: 0;
    margin-bottom: -60px;
}

#section0 i:hover
{
	color: #EE6C4D;
}

/*#section2{
    background-image: url(../examples/imgs/bg3.jpg);
}
#section3{
    background-image: url(../examples/imgs/bg4.jpg);
}*/

#languages
{
    background: #424242;
    margin-top: 10%;
    width: 100%;
    height: 50%;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    padding: 0;
}

svg
{
    width: 20%;
    max-width: 200px;
    min-width: 100px;
}

.triangle {
  border-bottom: 15px solid #424242;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  width: 0;
  height: 0;
}

.popup {
  background-color: #424242;
  position: relative;
  margin: auto;
}

.popup::after {
  border-bottom: 15px solid #E0E0E0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  width: 0;
  height: 0;
  margin: auto;
  content: "";
  display: block;
  position: absolute;
  bottom: 100%;
  left: 49.2%;
}

.langGroup
{
    width: 49.5%;
    display: inline-block;
    height: 25%;
	opacity: 1;
    background: rgba(255,255,255,0.2);
	transition: all .5s ease-in;
}

.langGroup2
{
    width: 49.5%;
    display: inline-block;
    height: 25%;
	opacity: 0;
    background: red;
	transition: all .5s ease-in;
}

#languages:hover .langGroup2
{
	opacity: 1;
}

.center
{
    position: absolute;
    display: inline-block;
    margin: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
	transform: translateX(-50%);
    right: 30px;
    bottom: 30px;
    z-index: 20;
    display: none;
}

.centerUp
{
    display: inline-block;
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    -ms-transform: rotate(180deg); /* IE 9 */
    transform: rotate(180deg);
    top: 100px;
    right: 28px;
    position: absolute;
    margin: auto;
    z-index: 20;
    display: none;
}

.unu
{
  margin-top: 2px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 2s infinite;
    -moz-animation: mouse-scroll 2s infinite;
	margin-left: auto;
	margin-right: auto;
}

.unu
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
}

.doi
{
  -webkit-animation-delay: .4s;
  -moz-animation-delay: .4s;
  -webkit-animation-direction: alternate;
}

.trei
{
  -webkit-animation-delay: .6s;
  -moz-animation-delay: .6s;
  -webkit-animation-direction: alternate;
}

.mouse
{
  height: 40px;
  width: 20px;
  border-radius: 10px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border: 2px solid #FFF;
  top: 170px;
  margin: auto;
}

.wheel
{
  height: 10px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: #FFF;
  position: relative;
}

/*.wheel
{
  -webkit-animation: mouse-wheel 1.2s ease infinite;
  -moz-animation: mouse-wheel 1.2s ease infinite;
}
*/

@-webkit-keyframes mouse-wheel
{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-moz-keyframes mouse-wheel
{
  0% { top: 1px; }
  50% { top: 2px; }
  100% { top: 3px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

/* CSS for Section 1, Page 2, WORK */

#section1
{
	white-space: nowrap;
    background: url('../img/skyDark.jpg');
    background-size: cover;
    background-attachment: fixed;
}

#section1 p
{
    -webkit-transform: skewX(10deg);
	-ms-transform: skewX(10deg);
	transform: skewX(10deg);
    padding-left: 235px;
    color: #B5B5B7;
    font-size: 1.7em;
    text-align: center;
    opacity: 0;
   // margin-top: 30px;
}

#section1 h1
{
    color: #B5B5B7;
    border: thick solid #B5B5B7;
   // top: 54%;
    //color: #fb2d2d;
	//color: #EEEEEE;
    display: inline-block;
	opacity: 0;
    margin: auto;
    margin-bottom: 2%;
	padding-left: 3%;
	padding-right: 3%;
    //position: absolute;
    //z-index: 2;
    //top: 50%;
    //left: 50%;
    //transform: translate(-50%, -50%);
	//-ms-transform: translate(-50%, -50%);
	//-webkit-transform: translate(-50%, -50%);
    margin-top: 110px;
    margin-left: 150px;
    transform: skewX(10deg);
	-ms-transform: skewX(10deg);
	-webkit-transform: skewX(10deg);
}

#section1 .row
{
	margin-bottom: -5px;
}

#section1 .lefty
{
	float: left;
    position: absolute;
	z-index: 1;
	width: 60%;
    height: 100%;
	padding: 15px;
    background: #252839;
	box-sizing: border-box;
    transform: skewX(-10deg);
	-ms-transform: skewX(-10deg);
	-webkit-transform: skewX(-10deg);
    margin-left: -20%;
	//background: url('../img/skyDark.jpg');
    //background-size: cover;
    //background-attachment: fixed;
	//background-position: top left;
}

#section1 .righty
{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	display: table;
    float: right;
}

#section1 .righty a img
{
    width: 17%;
    display: inline-block;
    //float: right;
    border: none;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transition: all 1s;
	opacity: 0.5;
}

#section1 .righty a img:hover
{
	opacity: 1;
	filter: none;
	-webkit-filter: none;
}

#section1 .righty a
{
	margin: -1.4px;
}

#section1 .slider
{
    width: 60%;
    overflow: hidden;
    display: inline-block;
    transform: skewX(-10deg);
	-ms-transform: skewX(-10deg);
	-webkit-transform: skewX(-10deg);
    transition: width 1.2s ease-in-out;
    margin-left: -76px;
    pointer-events: none;
}

.overlay
{
	width: 100%;
	height: 100%;
	position: relative;
	background: white;
}

.box
{
	width: 18%;
	display: inline-block;
	margin-left: -1.4px;
	margin-right: -1.4px;
	background: #424242;
}

.fade
{
    height: 250px;
    width: 250px;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    transition: all 1s;
    display: none;
}

.fade:hover
{
    background: rgba(0, 0, 0, 0.1);
}

.light
{
	background: rgba(0,0,0,0.2);
}

.box img
{
    width: 100%;
    height: 100%;
}

/* CSS for Section 2, Page 3, SKILLS */

#section2 h1
{
    border: thick solid #424242;
	color: #424242;
    display: inline-block;
	text-align: center;
    margin: auto;
	padding-left: 3%;
	padding-right: 3%;
	overflow: hidden;
    margin-top: 60px;
    opacity: 0;
}

#section2 #mobileDesign
{
    background: #293241;
    width: 100%;
    height: 50%;
    margin-top: -200px;
    padding-top: 200px;
}

#section2 #mobileCode
{
    
}

#section2 #mobileCode img, #section2 #mobileDesign img
{
    width: 150px;
}

#section2 #mobileCode h2, #section2 #mobileDesign h2
{
    font-size: 3em;
    font-weight: 700;
    color: #98C1D9;
    text-transform: uppercase;
}

#section2 #mobileCode h2
{
    color: #293241;
}

#section2 #mobileCode h4, #section2 #mobileDesign h4
{
    color: #E0FBFC;
    text-transform: none;
    font-size: 1.5em;
}

#section2 #mobileCode h4
{
    color: #3D5A80;
}

#section2 #topSkills
{
	position: absolute;
	height: 50%;
	width: 100%;
	top: 0px;
	overflow: hidden;
}

#section2 #topSkills #heading
{
	position: relative;
	top: 55%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	width: 100%;
	padding-top: 60px;
	overflow: hidden;	
}

#section2 p
{
    color: #BDBDBD;
	overflow: hidden;
}

#section2 #bottomSkills
{
	position: absolute;
	height: 45%;
	bottom: 0px;
	width: 100%;
	background: #757575;
    overflow: hidden;
    border-top: thick solid #E0E0E0;
}

#left, #right
{
	height: 100%;
	display: inline-block;
	width: 50%;
    position: absolute;
    z-index: 0;
    font-size: 24px;
    transition: all .5s ease-in-out;
	overflow: hidden;
}

#section2 #bottomSkills
{
	color: #FFF;
}

#leftInfo, #rightInfo
{
	width: 100%;
	height: 100%;
	opacity: 0;
    background: rgba(255,255,255,0.9);
	transition: all .5s;
	overflow: hidden;
}

#leftInfo h4, #rightInfo h4
{
    font-size: 1.5em;
    color: #424242;
    font-weight: bold;
}

#left
{
	left: 0px;
	background: url(../img/codeDeskC3.jpg) no-repeat center; 
}

#right
{
	right: 0px;
    background: url(../img/designDeskC3.jpg) no-repeat center;
}

#left, #right
{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	transition: all 1s;
    backface-visibility: hidden;
}

#left:hover, #right:hover
{
	overflow: hidden;
	-webkit-animation: animatedBackground .1s ease 1;
	-moz-animation: animatedBackground .1s ease 1;
	animation: animatedBackground .1s ease 1;
	-webkit-animation-fill-mode: inherit;
    animation-fill-mode: inherit;
        
}

#leftInfo:hover, #rightInfo:hover
{
	opacity: 1;
	display: inline-block;
	overflow: hidden;
}

#rightContainer, #leftContainer
{
	color: #212121;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	width: 100%;
}

#rightContainer ul, #leftContainer ul
{
	display: inline-block;
}

#rightContainer img, #leftContainer img
{
	width: 100px;
	margin: 0;
	text-align: center;
}

#rightContainer h4, #leftContainer h4
{
	margin-top: -15px;
    margin-top: -10px;
}

 .bar
{
	width: 60%;
	background: #BDBDBD;
	height: 4px;
	transition: all 1s;
    margin: auto;
	margin-bottom: 10px;
}

.bar .php,
.bar .sql,
.bar .java,
.bar .c,
.bar .html,
.bar .js,
.bar .dream,
.bar .boot
{
    height: 100%;
    width: 1%;
    background: #FB2D2D;
	transition: all 2.5s;
}

#section3
{
	//background: transparent url("../img/meJump_bmin.jpg") repeat scroll center top / cover;
    background: #252839;
}

#section3 img
{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

#section3 .leftside
{
	background: #677077;
	float: left;
	width: 50%;
    height: 100%;
	padding: 15px;
	box-sizing: border-box;
	display: table;
}

#section3 .rightside
{
	width: 50%;
	height: 100%;
	box-sizing: border-box;
	display: table;
    opacity: 1; 
}

/*---------------------------------------
   START OF STYLING FOR CONTACT FORM
----------------------------------------*/

#text-feedback{
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	background-color:white;
	text-align:center;
}

#form-main{
	width:100%;
	display: table-cell;
	vertical-align: middle;
}

#form-div {
	width: 70%;
	margin: auto;
}

#form-div p
{
	padding: 0;
	text-indent: 0;
}

.feedback-input {
	color:#F2B632;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight:600;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: rgba(41,50,65,0.5);
    border: 2px solid #F2B632;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.feedback-input:focus{
	background: rgba(41,50,65,0.7);
	box-shadow: none;
	color: #F2B632;
	border: 2px solid #E0FBFC;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#F2B632; solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(img/user.png);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(img/userW.png);
}

#email{
	background-image: url(img/email.png);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(img/emailW.png);
}

#comment{
	background-image: url(img/comments.png);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
	width: 100%;
	height: 150px;
	line-height: 150%;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color: rgba(41,50,65,0.7);
}

#button-blue{
	font-family: 'Open Sans', Helvetica, Arial,  sans-serif;
	font-weight: 700;
	float:left;
	width: 100%;
	border: 2px solid #F2B632;
	cursor:pointer;
	background-color: rgba(41,50,65,0.5);
	color: #F2B632;
	font-size:24px;
	padding-top:10px;
	padding-bottom:10px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #293241;
	border: 2px solid #E0FBFC;
}
	
.submit
{
	width: 150px;
	margin: auto;
}

.submit:hover {
	color: #293241;
}
	
.ease {
	width: 0px;
	height: 55px;
	background-color: #EE6C4D;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color: #E0FBFC;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		padding-left: 3%;
		padding-right: 3%;
	}
}		

/*---------------------------------------
      END STYLING FOR CONTACT FORM
----------------------------------------*/

#section3 #info
{
	display: table-cell;
	vertical-align: middle;
    margin-top: -60px;
    opacity: 1;
}

#infoL, #infoR
{
    position: absolute;
    z-index: -1;
    left: 0;
    font-size: 1.3em;
    padding: 10px;
}

#infoR
{
    right: 0;
    left: auto;
}

#section3 .rightside h2
{
	padding-bottom: 20px;
    color: #F2B632;
}

#section3 h2
{
	font-size: 2em;
	text-transform: none;
	color: #252839;
	font-weight: 900;
	display: block;
	margin-top: 200px;
}

#section3 h4
{
	font-size: 1.3em;
}

#section3 p
{
	font-size: 1.2em;
	color: #EEEEEE;
	text-transform: none;
	font-weight: 300;
	padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
	text-indent: 40px;
	text-align: left;
}

#section3 i
{
	color: #252839;
}

#section3 h5
{
	font-size: 1.3em;
	font-weight: 500;
	color: #98C1D9;
    padding-left: 35px;
    padding-top: 5px;
    text-align: left;
}

#section3 a
{
	color: #252839;
	text-transform: none;
}

#section3 footer p
{
	text-align: center;
	padding-top: 10px;
	font-weight: 700;
    padding-right: 100px;
    padding-left: 0px;
    color: #98C1D9;
}

#section3 footer
{
	height: 50px;
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #212121;
}

#section3 footer i
{
    float: left;
    font-size: 25px;
    padding-left: 10px;
    padding-top: 12.5px;
}

@media screen and (max-width: 1000px)
{
    #section1 h1
    {
        margin-left: 100px;
    }
    
    #section1 p
    {
        padding-left: 35%;
        text-align: left;
    }
}

@media screen and (min-width: 850px)
{
    #section2 #mobileDesign, #section2 #mobileCode
    {
        display: none;
        transition: all 1s;
    }
}

@media screen and (max-width: 850px)
{
    #section1 .lefty
    {
        width: 100%;
        transform: none;
		-ms-transform: none;
		-webkit-transform: none;
        margin-left: 0px;
        height: 50%;
        padding-top: 0px;
        height: auto;
        background: none;
        position: static;
    }
    
    #section1 .righty
    {
        height: auto;
        padding-top: 50px;
    }
    
    #section1 h1, #section1 p
    {
        transform: none;
		-ms-transform: none;
		-webkit-transform: none;
        text-align: center;
    }
    
    #section1 h1
    {
        margin-left: 0px;
    }
    
    #section1 p
    {
        padding-left: 0px;
    }
    
    #section1 .righty
    {
        width: 100%;
        overflow: hidden;
    }
    
    #section1 .righty a img
    {
        width: 33.33%;
        filter: none;
        -webkit-filter: none;
        opacity: 0.8;
    }
    
    #section2 #mobileCode .bar
    {
        background: #757575;
    }
    
    #section2 #topSkills, #section2 #bottomSkills
    {
        display: none;
        transition: all 1s;
    }
    
    #section3 .rightside
    {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 100px;
        height: auto;
    }
    
    #section3 .leftside
    {
        width: 100%;
        padding-top: 80px;
        padding-bottom: 50px;
        height: auto;
        float: none;
    }
    
    #section2 #mobileDesign, #section2 #mobileCode
    {
        padding-top: 70px;
        padding-bottom: 70px;
        height: auto;
    }
    
    #section2 #mobileDesign
    {
        margin-top: 0px;
        height: auto;
    }
}

@media screen and (min-width: 1800px)
{
    #section0 #header
    {
        transform: translate(-60%, -50%);
    }
}

@media screen and (max-width: 1800px)
{
    #section0 #header
    {
        transform: translate(-58%, -50%);
    }
}

@media screen and (max-width: 1550px)
{
    #section0 #header
    {
        transform: translate(-57%, -50%);
    }
}

@media screen and (max-width: 1300px)
{
    #section0 #header
    {
        transform: translate(-56%, -50%);
    }
}

@media screen and (max-width: 1000px)
{
    #section0 #header
    {
        transform: translate(-53%, -50%);
    }


@media screen and (max-width: 600px)
{
    #section0 #header
    {
        transform: translate(-52.5%, -50%);
    }
}

@media screen and (max-width: 450px)
{
    body
    {
        font-size: 13px;
    }
    
}

@media screen and (max-width: 375px)
{
    body
    {
        font-size: 11px;
    }
    
    #section0 p
    {
        margin-top: 0px;
    }
    
}

    
    
    
    
/***********************************************************
 * Lightcase - jQuery Plugin
 * The smart and flexible Lightbox Plugin.
 *
 * @author		Cornel Boppart <cornel@bopp-art.com>
 * @copyright	Author
 *
 * @version		2.3.4 (29/12/2015)
 */
/**
 * Lightcase settings
 *
 * Note: Override default settings for your project without touching this source code by simply
 * defining those variables within a SASS map called '$lightcase-custom'.
 *
 * // Example usage
 * $lightcase-custom: (
 *   'breakpoint': 768px
 * );
 */
@font-face {
  font-family: 'lightcase';
  src: url("../fonts/lightcase.eot?55356177");
  src: url("../fonts/lightcase.eot?55356177#iefix") format("embedded-opentype"), url("../fonts/lightcase.woff?55356177") format("woff"), url("../fonts/lightcase.ttf?55356177") format("truetype"), url("../fonts/lightcase.svg?55356177#lightcase") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../scss/components/fonts/_font-lightcase.scss */
[class*='lightcase-icon-']:before {
  font-family: 'lightcase', sans-serif;
  font-style: normal;
  font-weight: normal;                                                                                       
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* Codes */
/* line 35, ../scss/components/fonts/_font-lightcase.scss */
.lightcase-icon-play:before {
  content: '\e800';
}

/* line 36, ../scss/components/fonts/_font-lightcase.scss */
.lightcase-icon-pause:before {
  content: '\e801';
}

/* line 37, ../scss/components/fonts/_font-lightcase.scss */
.lightcase-icon-close:before {
  content: '\e802';
}

/* line 38, ../scss/components/fonts/_font-lightcase.scss */
.lightcase-icon-prev:before {
  content: '\e803';
}

/* line 39, ../scss/components/fonts/_font-lightcase.scss */
.lightcase-icon-next:before {
  content: '\e804';
}

/* line 40, ../scss/components/fonts/_font-lightcase.scss */
.lightcase-icon-spin:before {
  content: '\e805';
}

/**
 * Mixin providing icon defaults to be used on top of font-lightcase.
 *
 * Example usage:
 * @include icon(#e9e9e9)
 */
/**
 * Mixin providing icon defaults including a hover status to be used
 * on top of font-lightcase.
 *
 * Example usage:
 * @include icon-hover(#e9e9e9, #fff)
 */
/**
 * Provides natural content overflow behavior and scrolling support
 * even so for touch devices.
 *
 * Example usage:
 * @include overflow()
 */
/**
 * Neutralizes/resets dimensions including width, height, position as well as margins,
 * paddings and styles. Used to enforce a neutral and unstyled look and behavoir!
 *
 * Example usage:
 * @include clear(true)
 *
 * @param boolean $important
 */
@-webkit-keyframes lightcase-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-moz-keyframes lightcase-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes lightcase-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes lightcase-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes lightcase-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/* line 1, ../scss/components/modules/_case.scss */
#lightcase-case {
  display: none;
  position: fixed;
  z-index: 2002;
  top: 50%;
  left: 50%;
  font-family: arial, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  text-align: left;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 640px) {
  /* line 16, ../scss/components/modules/_case.scss */
  #lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    width: auto !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    background: none !important;
  }
}

@media screen and (min-width: 641px) {
  /* line 4, ../scss/components/modules/_content.scss */
  #lightcase-case:not([data-lc-type=error]) #lightcase-content {
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-shadow: none;
    background-color: #fff;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    -webkit-backface-visibility: hidden;
  }
}
@media screen and (min-width: 641px) {
  /* line 24, ../scss/components/modules/_content.scss */
  #lightcase-case[data-lc-type=image] #lightcase-content, #lightcase-case[data-lc-type=video] #lightcase-content {
    background-color: #333;
  }
}
/* line 32, ../scss/components/modules/_content.scss */
#lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) #lightcase-content {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
@media screen and (max-width: 640px) {
  /* line 32, ../scss/components/modules/_content.scss */
  #lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) #lightcase-content {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    width: auto !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    background: none !important;
  }
}
/* line 42, ../scss/components/modules/_content.scss */
#lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) #lightcase-content .lightcase-contentInner {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 640px) {
  /* line 42, ../scss/components/modules/_content.scss */
  #lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) #lightcase-content .lightcase-contentInner {
    padding: 15px;
  }
  /* line 51, ../scss/components/modules/_content.scss */
  #lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) #lightcase-content .lightcase-contentInner, #lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) #lightcase-content .lightcase-contentInner > * {
    width: 100% !important;
    max-width: none !important;
  }
  /* line 58, ../scss/components/modules/_content.scss */
  #lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) #lightcase-content .lightcase-contentInner > *:not(iframe) {
    height: auto !important;
    max-height: none !important;
  }
}
@media screen and (max-width: 640px) {
  /* line 69, ../scss/components/modules/_content.scss */
  .lightcase-isMobileDevice #lightcase-case[data-lc-type=iframe] #lightcase-content .lightcase-contentInner {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media screen and (max-width: 640px) and (min-width: 641px) {
  /* line 73, ../scss/components/modules/_content.scss */
  [data-lc-type=image] #lightcase-content .lightcase-contentInner, [data-lc-type=video] #lightcase-content .lightcase-contentInner {
    line-height: 0.75;
  }
}

/* line 85, ../scss/components/modules/_content.scss */
.lightcase-isMobileDevice #lightcase-case[data-lc-type=iframe] #lightcase-content .lightcase-contentInner .lightcase-inlineWrap {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
@media screen and (max-width: 640px) {
  /* line 90, ../scss/components/modules/_content.scss */
  #lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) #lightcase-content .lightcase-contentInner .lightcase-inlineWrap {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    width: auto !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    background: none !important;
  }
}
@media screen and (min-width: 641px) {
  /* line 97, ../scss/components/modules/_content.scss */
  #lightcase-case:not([data-lc-type=error]) #lightcase-content .lightcase-contentInner .lightcase-inlineWrap {
    padding: 30px;
    overflow: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 640px) {
  /* line 114, ../scss/components/modules/_content.scss */
  #lightcase-content h1, #lightcase-content h2, #lightcase-content h3, #lightcase-content h4, #lightcase-content h5, #lightcase-content h6, #lightcase-content p {
    color: #aaa;
  }
}
@media screen and (min-width: 641px) {
  /* line 114, ../scss/components/modules/_content.scss */
  #lightcase-content h1, #lightcase-content h2, #lightcase-content h3, #lightcase-content h4, #lightcase-content h5, #lightcase-content h6, #lightcase-content p {
    color: #333;
  }
}

/* line 3, ../scss/components/modules/_error.scss */
#lightcase-case p.lightcase-error {
  margin: 0;
  font-size: 17px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #aaa;
}
@media screen and (max-width: 640px) {
  /* line 3, ../scss/components/modules/_error.scss */
  #lightcase-case p.lightcase-error {
    padding: 30px 0;
  }
}
@media screen and (min-width: 641px) {
  /* line 3, ../scss/components/modules/_error.scss */
  #lightcase-case p.lightcase-error {
    padding: 0;
  }
}

/* line 6, ../scss/components/modules/_global.scss */
.lightcase-isMobileDevice .lightcase-open body {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
@media screen and (max-width: 640px) {
  /* line 4, ../scss/components/modules/_global.scss */
  .lightcase-open body {
    padding: 55px 0 70px 0;
  }
  /* line 15, ../scss/components/modules/_global.scss */
  .lightcase-open body > *:not([id*='lightcase-']) {
    position: fixed !important;
    top: -9999px !important;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
  }
}

/* line 1, ../scss/components/modules/_info.scss */
#lightcase-info {
  position: absolute;
  padding-top: 15px;
}
/* line 9, ../scss/components/modules/_info.scss */
#lightcase-info #lightcase-title,
#lightcase-info #lightcase-caption {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-weight: normal;
  text-overflow: ellipsis;
}
/* line 19, ../scss/components/modules/_info.scss */
#lightcase-info #lightcase-title {
  font-size: 17px;
  color: #aaa;
}
@media screen and (max-width: 640px) {
  /* line 19, ../scss/components/modules/_info.scss */
  #lightcase-info #lightcase-title {
    position: fixed;
    top: 10px;
    left: 0;
    max-width: 87.5%;
    padding: 5px 15px;
    background: #333;
  }
}
/* line 33, ../scss/components/modules/_info.scss */
#lightcase-info #lightcase-caption {
  clear: both;
  font-size: 13px;
  color: #aaa;
}
/* line 39, ../scss/components/modules/_info.scss */
#lightcase-info #lightcase-sequenceInfo {
  font-size: 11px;
  color: #aaa;
}
@media screen and (max-width: 640px) {
  /* line 45, ../scss/components/modules/_info.scss */
  .lightcase-fullScreenMode #lightcase-info {
    padding-left: 15px;
    padding-right: 15px;
  }
  /* line 51, ../scss/components/modules/_info.scss */
  #lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) #lightcase-info {
    position: static;
  }
}

/* line 1, ../scss/components/modules/_loading.scss */
#lightcase-loading {
  position: fixed;
  z-index: 9999;
  width: 1.123em;
  height: auto;
  font-size: 38px;
  line-height: 1;
  text-align: center;
  text-shadow: none;
  position: fixed;
  z-index: 2001;
  top: 50%;
  left: 50%;
  margin-top: -0.5em;
  margin-left: -0.5em;
  opacity: 1;
  font-size: 32px;
  text-shadow: 0 0 15px #fff;
  -moz-transform-origin: 50% 53%;
  -webkit-animation: lightcase-spin 0.5s infinite linear;
  -moz-animation: lightcase-spin 0.5s infinite linear;
  -o-animation: lightcase-spin 0.5s infinite linear;
  animation: lightcase-spin 0.5s infinite linear;
}
/* line 20, ../scss/components/mixins/_presets.scss */
#lightcase-loading, #lightcase-loading:focus {
  text-decoration: none;
  color: #fff;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: color, opacity, ease-in-out 0.25s;
  -moz-transition: color, opacity, ease-in-out 0.25s;
  -o-transition: color, opacity, ease-in-out 0.25s;
  transition: color, opacity, ease-in-out 0.25s;
}
/* line 32, ../scss/components/mixins/_presets.scss */
#lightcase-loading > span {
  display: inline-block;
  text-indent: -9999px;
}

/* line 4, ../scss/components/modules/_navigation.scss */
#lightcase-nav a[class*='lightcase-icon-'] {
  position: fixed;
  z-index: 9999;
  width: 1.123em;
  height: auto;
  font-size: 38px;
  line-height: 1;
  text-align: center;
  text-shadow: none;
  outline: none;
  cursor: pointer;
}
/* line 20, ../scss/components/mixins/_presets.scss */
#lightcase-nav a[class*='lightcase-icon-'], #lightcase-nav a[class*='lightcase-icon-']:focus {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: color, opacity, ease-in-out 0.25s;
  -moz-transition: color, opacity, ease-in-out 0.25s;
  -o-transition: color, opacity, ease-in-out 0.25s;
  transition: color, opacity, ease-in-out 0.25s;
}
/* line 32, ../scss/components/mixins/_presets.scss */
#lightcase-nav a[class*='lightcase-icon-'] > span {
  display: inline-block;
  text-indent: -9999px;
  display: none;
}
/* line 49, ../scss/components/mixins/_presets.scss */
#lightcase-nav a[class*='lightcase-icon-']:hover {
  color: white;
  text-shadow: 0 0 15px white;
}
/* line 12, ../scss/components/modules/_navigation.scss */
.lightcase-isMobileDevice #lightcase-nav a[class*='lightcase-icon-']:hover {
  color: #aaa;
  text-shadow: none;
}
/* line 19, ../scss/components/modules/_navigation.scss */
#lightcase-nav a[class*='lightcase-icon-'].lightcase-icon-prev {
  left: 15px;
}
/* line 24, ../scss/components/modules/_navigation.scss */
#lightcase-nav a[class*='lightcase-icon-'].lightcase-icon-next {
  right: 15px;
}
/* line 29, ../scss/components/modules/_navigation.scss */
#lightcase-nav a[class*='lightcase-icon-'].lightcase-icon-pause, #lightcase-nav a[class*='lightcase-icon-'].lightcase-icon-play {
  left: 50%;
  margin-left: -0.5em;
}
@media screen and (min-width: 641px) {
  /* line 29, ../scss/components/modules/_navigation.scss */
  #lightcase-nav a[class*='lightcase-icon-'].lightcase-icon-pause, #lightcase-nav a[class*='lightcase-icon-'].lightcase-icon-play {
    opacity: 0;
  }
}
/* line 40, ../scss/components/modules/_navigation.scss */
#lightcase-nav a[class*='lightcase-icon-'].lightcase-icon-close {
  top: 15px;
  right: 15px;
  bottom: auto;
  margin: 0;
  opacity: 0;
  outline: none;
}
@media screen and (max-width: 640px) {
  /* line 40, ../scss/components/modules/_navigation.scss */
  #lightcase-nav a[class*='lightcase-icon-'].lightcase-icon-close {
    position: absolute;
  }
}
@media screen and (min-width: 641px) {
  /* line 40, ../scss/components/modules/_navigation.scss */
  #lightcase-nav a[class*='lightcase-icon-'].lightcase-icon-close {
    position: fixed;
  }
}
@media screen and (max-width: 640px) {
  /* line 4, ../scss/components/modules/_navigation.scss */
  #lightcase-nav a[class*='lightcase-icon-'] {
    bottom: 15px;
    font-size: 24px;
  }
}
@media screen and (min-width: 641px) {
  /* line 4, ../scss/components/modules/_navigation.scss */
  #lightcase-nav a[class*='lightcase-icon-'] {
    bottom: 50%;
    margin-bottom: -0.5em;
  }
  /* line 66, ../scss/components/modules/_navigation.scss */
  #lightcase-nav a[class*='lightcase-icon-']:hover, #lightcase-case:hover ~ #lightcase-nav a[class*='lightcase-icon-'] {
    opacity: 1;
  }
}

/* line 1, ../scss/components/modules/_overlay.scss */
#lightcase-overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  background: #333;
}
@media screen and (max-width: 640px) {
  /* line 1, ../scss/components/modules/_overlay.scss */
  #lightcase-overlay {
    opacity: 1 !important;
  }
}

/***********************************************************
*           END -  Lightcase - jQuery Plugin               *
***********************************************************/











